<div class="center pv0 w-100">
<h2 class="f2 b lh-title" style="text-align:center">Find a store!</h2>



<div id="mapContainer" style="overflow:hidden;">
<style>
#mapContainer iframe{
  pointer-events:none;
  margin-top:-50px;
  margin-bottom: -10px;
}
#mapContainer iframe.clicked{
	pointer-events: auto;
}
</style>

<script>
$('#mapContainer')
	.click(function(){
			$(this).find('iframe').addClass('clicked')})
	.mouseleave(function(){
			$(this).find('iframe').removeClass('clicked')}
    );
</script>

<iframe src="https://www.google.com/maps/d/u/0/embed?mid=10AkK8LNPhHWvdvoB3aa95f4o8l8QiVTG"  width="100%" height="700px"></iframe>
</div>
</div>
