{{ partial "head" . }}
{{ partial "nav" . }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

{{ partial "4-up" .Params.intro }}


{{ with .Params.main }}
<div class="mw7 center">
  <div class="mw6 ph3 mb3 center">
    <h3 class="f2 center b lh-title mb2">{{ .heading }}</h3>
    <p>{{ .description }}</p>
  </div>
  <div class="tc">
    <a href="https://vinoshipper.com/wine/winery/358" class="btn raise">Shop Here</a>
  </div>
</div>
{{end}}
<br>
{{ partial "footer" . }}
